<main>
    <section class="adicionar">
        <form action="">
            <div class="input-box">
                <label for="">Item</label>
                <input type="text">
            </div>

            <div class="input-box">
                <label for="">Quantidade</label>

                <div>
                    <input type="number">

                    <select name="" id="">
                        <option value="">UN.</option>
                        <option value="">L</option>
                        <option value="">Kg</option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <label for="">Categoria</label>
                <select name="" id="">
                    <option selected disabled>Selecione</option>
                    <option value="">Padaria</option>
                    <option value="">Legume</option>
                    <option value="">Carne</option>
                    <option value="">Fruta</option>
                    <option value="">Bebida</option>
                </select>
            </div>

            <button>+</button>
        </form>
    </section>
</main>